<ul *ngFor="let light of lights; let i = index">
  <li>
    <div class="light-box">
      <h3> {{ light.name }} </h3>
      <div class="light-switch">
        <kendo-switch
          [(ngModel)]="light.state.on"
          (click)="lightSwitch(i+1, light.state.on)">
        </kendo-switch>
      </div>
      <div class="light-bright">
        <kendo-slider
          [(ngModel)]="light.state.bri" 
          (click)="lightBright(i+1, light.state.bri)"
          [min]=0
          [max]=254
          [smallStep]=10>
        </kendo-slider>
      </div>
      <div class="light-go" *ngIf="light.state.hue">
        <div class="light-hue">
          <kendo-slider
            [(ngModel)]="light.state.hue"
            (click)="lightHue(i+1, light.state.hue)"
            [min]=0
            [max]=65535
            [smallStep]=1500>
          </kendo-slider>
          </div>
          <div class="light-sat">
          <kendo-slider
            [(ngModel)]="light.state.sat"
            (click)="lightSat(i+1, light.state.sat)"
            [min]=0
            [max]=254
            [smallStep]=10>
          </kendo-slider>
        </div>
      </div>
    </div>
  </li>
</ul>
